@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
@theme {
  --font-display: "Urbanist", sans-serif;
  --color-primary: #1e40af;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
  }
}

.text-radial-animate {
  background: radial-gradient(circle at center, #7182ff 0%, #3cff52 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textGradientMove 6s ease-in-out infinite;
}

@keyframes textGradientMove {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.btn1 {
  @apply bg-purple-100 px-4 py-2 font-bold text-sm cursor-pointer hover:bg-black hover:text-white transition-colors duration-300 rounded-md;
}
.btn2 {
  @apply bg-black px-4 py-2 font-bold text-sm cursor-pointer hover:bg-purple-100 text-white hover:text-black transition-colors duration-300 rounded-md;
}
.inputs {
  @apply w-full p-3 rounded-lg border border-gray-300 bg-gray-100 text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 shadow-sm;
}
.eye-icon {
  @apply absolute right-3 top-4 text-xl cursor-pointer;
}