@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
@theme {
  --font-display: "Urbanist", sans-serif;
  --color-primary: #1e40af;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
  }
}

@media print {
  body {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .print-container {
    width: 794px; 
  }

  @page {
    margin: 0;
  }
}


/* .text-radial-animate {
  background: radial-gradient(circle at center, #7182ff 0%, #3cff52 100%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textGradientMove 6s ease-in-out infinite;
}

@keyframes textGradientMove {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 50%;
  }
} */

/* .btn1 {
  @apply bg-purple-100 px-4 py-2 font-bold text-sm cursor-pointer hover:bg-black hover:text-white transition-colors duration-300 rounded-md;
}
.btn2 {
  @apply bg-black px-4 py-2 font-bold text-sm cursor-pointer hover:bg-purple-100 text-white hover:text-black transition-colors duration-300 rounded-md;
} */
.inputs {
  @apply w-full p-3 rounded-lg border border-gray-300 bg-gray-100 text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 shadow-sm;
}
.eye-icon {
  @apply absolute right-3 top-4 text-xl cursor-pointer;
}
.resume-btn {
  @apply inline-flex items-center gap-2 bg-purple-100 text-purple-700 text-sm px-4 py-2 rounded-md hover:bg-purple-200 font-semibold cursor-pointer;
}
.template-btn {
  @apply inline-flex items-center gap-2 text-purple-700 text-sm px-4 py-2 rounded-md hover:bg-purple-200 font-semibold cursor-pointer;
}
.template-btn-underlined {
  @apply inline-flex items-center gap-2 text-purple-700 text-sm px-2 py-2 border-b border-b-purple-700 font-semibold cursor-pointer;
}
.pdf-content {
  padding-bottom: 40px !important;
}

.pdf-content ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.pdf-content li,
.pdf-content .content {
  page-break-inside: avoid !important;
  break-inside: avoid !important;
}
.pdf-content li h3 {
  position: relative !important;
  display: inline-block !important;
}
.pdf-content li.one h3 {
  position: relative !important;
  display: inline-block !important;
  padding-left: 30px;
}
.pdf-content li.one h3::before {
  content: "•" !important;
  position: absolute !important;
  left: 16px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
}

.pdf-content li h3 {
  position: relative !important;
  display: inline-block !important;
}
.pdf-content li.three h3 {
  position: relative !important;
  display: inline-block !important;
  padding-left: 10px;
}
.pdf-content li.three h3::before {
  content: "•" !important;
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
}

.pdf-content li h3::before {
  content: "•" !important;
  position: absolute !important;
  left: -15px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
}

.pdf-content .icon {
  display: none !important;
}

